@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 10;
  background-color: #1d1d1d;
  color: #ffff;
}

body hr{
  display: flex;
  border: none;
  padding: 0;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.35);
}

/*header*/

header{
  position: fixed;  
  z-index: 90;
  width: 100%;
  transition: all 0.7s;
 
}

.nav-bar{
  background: #161616;
  padding: 20px;
  display: block;
  color: white;
  cursor: pointer;
  width: 100%;
  position:fixed;
  transition: top 0.5s;
}

.menu{
  position: absolute;
  list-style: none;
  background: #232323;
  width: 50%;
  padding-top: 64px;
  display: block;
  padding: 0;
  font-size: 17px;
  margin: 0;
  margin-top: 58.5px;
  height: 380px;
  margin-left: -100% ;
  transition: all 0.7s;
  z-index: 90;
  border-bottom-right-radius: 15px;
}

.menu li i{
  float: left;
  letter-spacing: 5px;
}

.menu__logo{
  display: block;
  padding: 10px;
  text-align: center;
  border: solid 2px #ffff;
  margin: 8px;
}

.menu__link{
  display: block;
  padding: 18px;
  color: white;
  text-decoration: none;

  transition: all 0.45s;
}

.mostrar{
  margin-left: 0;
  transition: all 1.0s;
}

.menu__link:hover{
  color: #418ACA;
}

@media(min-width:530px){

.menu{
  width: 35%;
}

}

@media(min-width:1024px) {
  .nav-bar{
    display: none;
  }
  
  .menu {
    background: rgb(12, 12, 12);
 
    margin-left: 0 ;
    display: flex;
    margin-top: 0;
    width: 100%;
    font-size: 15.5px;
    padding-top: 0px;
    height: 57px;
    padding-left: 30px;
  }
}

  .menu li{
    font-size: 15.5px;
  }

/*/header*/

/*banner*/

#banner {
  display: flex;
  width: 100%;
  padding-top: 57px;
  height: 550px;
  background: url(assets/img1.jpg);
  background-attachment: fixed;
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.7);
}

#banner .content-bant{
  width: 85%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
}

#banner .info {
  color: #ffffff;
}

#banner .info h1 {
  font-size: 3.0em;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
}

#banner .content-bant .info-text p, li{
  font-size: 25px;
}

#banner .content-bant .info-text{
  width: 100%;
}

#banner .contac a{

  color: white;
  width: 100px;
  border: 2px solid #022873;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  font-weight:bolder ;

  margin-top: 25px;

  padding: 8px;

  border-radius: 5px;

  transition: all 0.5s;
}

#banner .contac a:hover{
  background:#325185;
  border: 2px solid #325185;
}

#banner .info-text{
  display: flex;
  width: 360px;
  height: 35px;
  font-size: 1.6em;
  line-height: 35px;
  color: white;
  overflow: hidden;
  margin-top: 20px;
}

#banner .info-text ul{
  list-style: none;
  padding-left: 10px ;
  animation: cambiar 5s infinite;
}

#banner .info-text ul, p{
  margin: 0;
}

@keyframes cambiar {

  0%{ margin-top: 0;}
  20%{ margin-top: 0;}

  25%{ margin-top: -35px;}
  50%{ margin-top: -35px;}

  55%{ margin-top: -70px;}
  80%{ margin-top: -70px;}

  85%{ margin-top: -35px;}
  95%{ margin-top: -35px;}

  100%{ margin-top: 0px;}
}

@media screen and (max-width: 640px)  {
  
  #banner{
    height: 595px;
  }

  #banner .content-bant {
    width: 100%;
    padding: 25px;
  }

  #banner .info{
    font-size: 15.5px;
  }

  #banner .content-bant .info-text p, li{
    font-size: 18px;
  }

  #banner .contac a{
    display: flex;
    font-size: 17px;
  }
}

/*/banner*/

/*Sobre mi*/

.biog{  
  padding: 20px;
}

.biog .biog_content{
  padding: 30px;
  background: rgba(10, 10, 10, 0.10);
  border-radius: 10px;

}

.biog h1{
  text-align: center;
  font-size: 24px;
  display: inline-flex;
  border-left: 2px solid #03318C; 
  padding-left: 25px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.biog h3{
  text-align: left;
  font-weight: 300;
  color: #418ACA;
}

.biog p{
  margin-top: 15px;
  text-align: left;
  display: flex;
  color: #e2e2e2;
}

.biog .info_biog{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 15px;
  padding: 30px;
  border-right: 2px solid #03318C;
}

.biog img{  
  width: 85%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  box-shadow: -45px 25px 0px #010626 ;
}

.biog .info_biog h3{
  text-align: left;
  display: block;
  margin: 0;
  padding: 10px;
}

.biog .info_biog p{
  text-align: left;
  padding: 0px ;
  margin: 0;
  padding: 10px;
}

/* habilidades*/
 
.habilid_info .habilid_static{
  width: 100%;
  position: relative;
  border: 3px solid #03318C;
  border-radius: 20px;
  padding: 0 auto;
  margin-top: 10px;
  display: flex;
  box-sizing: border-box;
}

.biog .habilid_info .habilid_static p{
  color: rgb(255, 255, 255);
  padding: 0;
  text-align: right;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.biog .habilid_info .habilid_static .habilid_posent{
  position: absolute;
  left: 90%;
}

.biog .info_biog .habilid_info .habilid_01{
  background: #03318C;
  text-align: left;
  border-radius: 14px;
  width: 90%;
  display: flex;
  padding: 7px;
}

.biog .info_biog .habilid_info .habilid_02{
  background:#03318C;
  border-radius: 14px;
  text-align: left;
  width: 70%;
  display: flex;
  padding: 7px;
}

.biog .info_biog .habilid_info .habilid_03{
  background: #03318C;
  border-radius: 14px;
  text-align: left;
  width: 40%;
  display: flex;
  padding: 7px;
}

.biog .info_biog .habilid_info .habilid_04{
  background: #03318C;
  border-radius: 14px;
  text-align: left;
  width: 60%;
  display: flex;
  padding: 7px;
}

@media screen and (max-width: 440px) {
  .biog .habilid_info .habilid_static .habilid_posent{
    left: 80%;
  }
}

/* /habilidades*/

@media screen and (max-width: 750px) {
  .biog{
    padding: 10px;
  }

  .biog .biog_content{
    padding: 15px;
  }

  .biog h1{
    font-size: 20px;
    padding-left: 15px;
  }

  .biog img {
    display: block;
    width: 65%;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: none;
  }

  .biog .info_biog{
    display: block;
    padding: 0px;
    border-right: none;
  }
}

/*/Sobre mi*/

/*Servicios*/

.ofert{
  padding: 20px;
  margin: auto;
}

.ofert .ofert_title{
  display: inline-flex;
}

.ofert h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  padding: 10px;
  align-self: center;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 15px #03318C;
}

.ofert hr{
  display: block;
  width: 3px;
  text-align: left;
  margin: 5px auto;
  height: 45px;
  background: #ffffff;
  box-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 15px #03318C;
  border: none;
  border-radius: 20px;

}

.ofert .ofert_content{
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

.ofert .post_list{
  overflow: hidden;
}

.ofert .back, .next{
  position: absolute;
  display: block;
  font-size: 60px;
  border: none;
  background: none;
  color: #ffff;
  text-shadow:0 0 2px white, 0 0 6px white;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: all 0.1s;
}

.ofert .back{
  left: -50px;
}

.ofert .next{
  right: -50px;
}

.ofert .next:hover{
  text-shadow: 0 0 10px #03318C, 0 0 16px #03318C;
}

.ofert .back:hover {
  text-shadow: 0 0 10px #03318C, 0 0 16px #03318C;
}

.ofert .next:active{
  text-shadow: none;
  color: gray;
}

.ofert .back:active{
  text-shadow: none;
  color: gray;
}

.ofert .item-ofert{
  padding: 15px;
  background: #131313;
  border-radius: 17px;
  border: 2px solid #ffffff;
  margin: 10px;
  text-align: center;
  box-sizing: content-box;
  transition: 1s;
  animation: neon_1 5s infinite;
}

.ofert .item-ofert i{
  font-size: 35px;
  margin: 20px;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 20px #03318C;
}

.ofert .item-ofert h2{
  font-size: 22px;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 20px #03318C;
  color: #f1f1f1;
  font-family: 'Text Me One', sans-serif;
}

 .ofert .item-ofert p{
  padding: 17px;
  color: #ffffff;
  font-size: 18px;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C;
  font-family: 'Text Me One', sans-serif;
}

@keyframes neon_1{
  0%{ box-shadow: inset 0 0 8px #03318C, 0 0 10px #03318C; 
      border: 2px solid rgb(255, 255, 255);}
  50%{ box-shadow: inset 0 0 8px #03318C, 0 0 10px #03318C;
      border: 2px solid rgb(255, 255, 255); }

  55%{ box-shadow: inset 0 0 6px #03318C, 0 0 7px #03318C; }
  65%{ box-shadow: inset 0 0 6px #03318C, 0 0 7px #03318C; }

  81%{ box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.5); }
  83%{ box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.75); }

  90%{ box-shadow: inset 0 0 6px #03318C, 0 0 7px #03318C; }
  100%{ box-shadow: inset 0 0 6px #03318C, 0 0 7px #03318C; }

  }

  @media screen and (max-width: 430px){
    .ofert .item-ofert{
      padding: 5px;
    }

    .ofert .item-ofert i{
      font-size: 23px;
    }

    .ofert .item-ofert h2{
      font-size: 18px;
    }

    .ofert .item-ofert p{
      font-size: 15px;
    }

  }

/*/Servicios*/

/*Contacto*/

.contact{
  text-align: left;
  background-color: #1d1d1d;
  padding: 20px;
}

.contact_content{
  padding: 20px;
  background: rgba(10, 10, 10, 0.10);
  border-radius: 10px;
}

.contact .contact_content h1 {
  font-size: 24px;
  color: #ffffff;
  border-left: 2px solid #03318C;
  display: flex;
  padding:10px ;
  font-family: 'Montserrat', sans-serif;
}

.contact .contact_content h3{
  text-align: left;
  font-weight: 300;
  color: #418ACA;
}

.contact .post_contact{
  display: grid;
  grid-template-columns: 50% 50% ;
}

.contact .email_form{
  width: 70%;
  max-width: 390px;
  margin: 35px auto;
  margin-top: 0;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.28);

}

.contact .email_form h4{
  background: rgb(40, 40, 40);
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  padding: 10px;
}

.contact .email_form input, textarea{
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  transition: 0.5s;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.93);
}

.contact .email_form input:focus{
  outline: none;
}

.contact .email_form textarea:focus{
  outline: none;
}

.contact .email_form textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 250px;
  max-height: 350px;
}

.contact .email_form #button_email{
  background-color: #418ACA;
  color: rgb(221, 221, 221);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 34px;
  font-size: 13.5px;
  margin: 10px;
  transition: 0.5s;
}

.contact .email_form #button_email:hover{
  background-color: #2648c4;

}

.contact .post_inicial{
  border: 2px solid #01205f;
  background: rgba(0, 0, 0, 0.315);
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 12px rgb(0, 0, 0, 0.7);
}

.contact .post_inicial h2{
  font-size: 20px;
  color: #ececec;
  padding: 10px;
  background: #01205f;
}

.contact .post_inicial p{
  font-family: Arial, Helvetica, sans-serif;
  color: #cfcfcf;
  padding: 15px;
}

.contact .slider_content{
  width: 90%;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.contact .slider_contact{
  display: flex;
  width: 300%;

  margin-left: -100%;
}

.contact .back_slider{
  position: absolute;
  font-size: 30px;
  top: 40%;
  transform: translate(-50%);
  
  left: 20px;
}

.contact .next_slider{
  position: absolute; 
  border-radius: 100%;
  font-size: 30px;
  top: 40%;
  transform: translate(-50%);
  transition: all 0.2s;
  right: 5px;
}

.contact .back_slider:hover{
  color: #418ACA;
}

.contact .next_slider:hover{
  color: #418ACA;
}

.contact .post_slider{
  margin: 5px;
  background: rgba(0, 0, 0, 0.315);
  border-radius: 5px;
  border: 2px solid #01205f;
  margin-bottom: 20px;
  width: 35%;
  text-align: center;

}

.contact .post_slider i{
  font-size: 40px;
  margin: 15px;
}

.contact .post_slider h2{
  font-size: 20px;
  background: #01205f;
  color: #ececec;
  padding: 10px;
}

.contact .post_slider p{
  font-family: Arial, Helvetica, sans-serif;
  color: #cfcfcf;
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px;
}

@media (max-width: 750px) {
  .contact{
    padding: 10px;
  }
  
  .contact .post_contact{
  display: block;
  }

  .contact .email_form{
    width:100%;
  }

  .contact .post_1{
    width: 70%;
    margin: auto;
    margin-bottom: 20px ;
  }

  .contact .post_2{
    width: 70%;
    margin: auto;
    margin-bottom: 20px ;
  }

}

/*/Contacto*/

/*foot*/

.foot{
  width: 100%;
  background: rgb(17, 17, 17);
  color: white;
  text-align: center;
}

.foot .foot-limit{
  margin: 0 auto;
  width: 96%;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
  border: none;
}
  
.foot .foot-content{
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 80%; 
}

.foot .foot-social{
  text-align: left;
  display: block;
  margin: auto;
}

.foot .social_a{
  text-decoration: none;
}

.foot #social-link_1, #social-link_2, #social-link_3, #social-link_4{
  color: rgba(0, 0, 0);
  font-size: 40px;
  margin: 0px;
  margin-left: 15px;
}

.foot #social-link_1 i, #social-link_2 i, #social-link_3 i, #social-link_4 i{
  transition: all 0.4s;
}

.foot #social-link_1 i:hover{
  color: #3b5998;
  transform:scale(1.25, 1.25);
}

.foot #social-link_2 i:hover{
  color: #4dc247;
  transform:scale(1.25, 1.25);
}

.foot #social-link_3 i:hover{
  color: #FF4301;
  transform:scale(1.25, 1.25);
}

.foot #social-link_4 i:hover{
  color: rgb(0, 0, 0);
  transform:scale(1.25, 1.25);
}

.foot .copy{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  text-align: right;
  align-self: center;
  color: rgb(170, 170, 170);
  display: block;
}

@media screen and (max-width: 1024px) {

.foot .foot-content{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }
  
.foot #social-link_1, #social-link_2, #social-link_3, #social-link_4{
  margin-left: 0;
  letter-spacing: 10px;
}

.foot .copy {
      text-align: center;
    }
  }

/*/foot*/