@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 10;
  background-color: #1d1d1d;
  color: #ffff;
}

body hr{
  display: flex;
  border: none;
  padding: 0;
  margin: 0 auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.35);
}

body p{
    font-weight: 350;
    color: #f3f3f3;
    font-size: 17.5px;
    letter-spacing: 0.5px;
  }

/*header*/

header{
  position: fixed;  
  z-index: 90;
  width: 100%;
  transition: all 0.7s;
 
}

.nav-bar{
  background: #161616;
  padding: 20px;
  display: block;
  cursor: pointer;
  width: 100%;
  position:fixed;
  transition: top 0.5s;
}

.menu{
  position: absolute;
  list-style: none;
  background: #232323;
  width: 50%;
  padding-top: 64px;
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 58.5px;
  height: 420px;
  margin-left: -100% ;
  transition: all 0.7s;
  z-index: 90;
  border-bottom-right-radius: 15px;
}

.menu li i{
  float: left;
  letter-spacing: 5px;
}

.menu__logo{
  display: block;
  padding: 10px;
  text-align: center;
  border: solid 2px #ffff;
  margin: 8px;
}

.menu__link{
  display: block;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.45s;
}

.menu__buttom{
  align-self: center;
  position: absolute;
  left: 12%;
  padding-top: 12px;
}

.menu__buttom i{
  color: #fff;
  font-size: 32px;
  transition: all 0.2s;
}

.menu__buttom i:hover{
  color: #c0c0c0;
}

.mostrar{
  margin-left: 0;
  transition: all 1.0s;
}

.menu__link:hover{
  color: #4885ff;
}

@media(min-width:530px){

.menu{
  width: 35%;
}

}

@media(min-width:830px){
  .menu__buttom{
    left: 85%;
  }
}

@media(min-width:800px) {
  .nav-bar{
    display: none;
  }
  
  .menu {
    background: #161616;
 
    margin-left: 0 ;
    display: flex;
    margin-top: 0;
    width: 100%;
    font-size: 15.5px;
    padding-top: 0px;
    height: 57px;
    padding-left: 30px;
  }

  .menu__buttom{
    position: absolute;
    left: 90%;
    padding-top: 0;
  }

}

  .menu li{
    font-size: 15.5px;
  }

/*/header*/

/*banner*/

#banner {
  position: relative;
  width: 100%;
  height: 98vh;
  box-sizing: border-box;

  background: url(assets/img1.jpg);
  background-attachment: fixed;
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 0 2px 12px rgb(0, 0, 0, 0.7);
}

#banner .content-bant{
  width: 100%;
  height: 100%;
  display: inline-flex;
}

#banner .info{
  width: 100%;
  align-self: center;
  margin: auto;
  display: block;
  box-sizing: border-box;
}

.info .logo_banner{
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);

  border-radius: 10px;
  padding: 25px;

  max-width: 400px;
  margin: auto;
}

#banner .info h1 {
  font-size: 2.6em;
}

#banner .info h2{
  font-size: 24px;
  color: #4885ff;
  font-weight: 700;
  
}

#banner .info_text{
  display: flex;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: white;
  overflow: hidden;
  margin-top: 10px;
}

#banner .info_text p{
  font-size: 25px;
}

#banner .info_text ul{
  list-style: none;
  padding-left: 10px ;
  animation: cambiar 5s infinite;
}

#banner .info_text ul, p{
  margin: 0;
  font-weight: 500;
}

#banner .info_text li{
  color: #4885ff;
  font-size: 25px;
  font-weight: 700;
}

@keyframes cambiar {

  0%{ margin-top: 0;}
  20%{ margin-top: 0;}

  25%{ margin-top: -35px;}
  50%{ margin-top: -35px;}

  55%{ margin-top: -70px;}
  80%{ margin-top: -70px;}

  85%{ margin-top: -35px;}
  95%{ margin-top: -35px;}

  100%{ margin-top: 0px;}
}

@media screen and (max-width: 640px)  {

  #banner .info h1{
    display: block;
    font-size: 2.5em;
  } 

  #banner .content-bant .info-text p, li{
    font-size: 20px;
  }
}

@media screen and (max-width: 750px)  {

}

/*/banner*/

/*Sobre mi*/

.biog{  
  padding: 20px;
}

.biog .biog_content{
  padding: 30px;
  background: rgba(10, 10, 10, 0.10);
  border-radius: 10px;

}

.biog h1{
  text-align: center;

  display: inline-flex;
  border-left: 2.5px solid #03318C; 
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 27px;
}

.biog h3{
  text-align: left;
  font-weight: 500;
  color: #418ACA;
  font-size: 21px;
  letter-spacing:0.9px;
}

.biog p{
  margin-top: 10px;
  display: flex;
  text-align: left;
}

.biog .info_biog{
  display: grid;
  grid-template-columns: 43% 57% ;
  margin-top: 25px;

}

.info_biog .img_biog{
  width: 100%;
  display: flex;
}

.img_biog .post_img_biog{
  width: 100%;
  height: 100%;
  display: flex;
}

.post_img_biog img{
  width: 70%;

  box-shadow: -10px 8px 10px #000;
  border-radius: 5px;
  align-self: center;
  display: block;
  margin: auto;
}

.biog .info_biog h3{
  text-align: left;
  display: block;
  margin: 0;
  padding: 10px;
}

.biog .info_biog p{
  text-align: left;
  padding: 0px ;
  margin: 0;
  padding: 10px;
}

/* habilidades*/
 
.habilid_info{
  width: 90%;
  margin-left: 0;
}

.habilid_info .habilid_static{
  width: 100%;
  position: relative;
  background: #2e66ff28;
  border-radius: 20px;
  padding: 0;
  margin-top: 10px;
  display: flex;
}

.biog .habilid_info .habilid_static p{
  padding: 0;
  text-align: right;
  color: #ffff;
  font-weight: 900;
  display: flex;
  font-size: 15px;
}

.biog .habilid_info .habilid_static .habilid_posent{
  position: absolute;
  left: 90% ;
}

.biog .info_biog .habilid_info .buttom-skills{
  display: inline-block;
  position: absolute;
  left: 105%;
  align-self: center;

  cursor: pointer;
}

.biog .info_biog .habilid_info .buttom-skills .rotate{
  transform: rotatex(180deg);
  transition: all 0.5s;
}

.biog .info_biog .habilid_info .buttom-skills i{
  color: #84b6f4;
  font-size: 40px;
}

.biog .info_biog .habilid_static .skills_postA{
  display: flex;
  height: 31.25px;
  overflow: hidden;
  width: 100%;
}

.biog .info_biog .habilid_static .skills_postA ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
  margin-top: 0px;
  z-index: 20;
  /*margin-top: -31.25px;*/
}

.biog .info_biog .habilid_info .habilid_01{
  background: #4885ff;
  border-radius: 14px;
  text-align: left;
  width: 85%;
  display: flex;
  padding: 7px;
  position: relative;
}

.biog .info_biog .habilid_info .habilid_01_1{
  border-radius: 14px;
  text-align: left;
  width: 100%;
  margin-right: 14px;
  display: flex;
  position: relative;
}

.biog .info_biog .habilid_info .habilid_01_1 p{
  color: rgb(32, 32, 32);
}

.biog .info_biog .habilid_info .habilid_01_1 .skill_01{
  width: 33%;
  border-top-left-radius: 14px;
  border-bottom-left-radius:14px ;
  border-top-right-radius: 14px;
  border-bottom-right-radius:14px ;
  background: #e44d26;
  position: relative;
  padding: 7px;
}
.biog .info_biog .habilid_info .habilid_01_1 .skill_02{
  width: 33%;
  border-top-left-radius: 14px;
  border-bottom-left-radius:14px ;
  border-top-right-radius: 14px;
  border-bottom-right-radius:14px ;
  background: #026ec7;
  position: relative;
  padding: 7px;
}
.biog .info_biog .habilid_info .habilid_01_1 .skill_03{
  width: 34%;
  border-top-left-radius: 14px;
  border-bottom-left-radius:14px ;
  border-top-right-radius: 14px;
  border-bottom-right-radius:14px ;
  background: #f7df1e;
  position: relative;
  padding: 7px;
}

.biog .info_biog .habilid_static .skills_postB{
  display: flex;
  height: 31.25px;
  overflow: hidden;
  width: 100%;
}

.biog .info_biog .habilid_static .skills_postB ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -31.25px;
  transition: all 0.5s;
  /*margin-top: -31.25px;*/
}

.biog .info_biog .habilid_info .habilid_02{
  background: #4885ff;
  border-radius: 14px;
  text-align: left;
  width: 60%;
  display: flex;
  padding: 7px;
  position: relative;
}

.biog .info_biog .habilid_info .habilid_02_1{
  border-radius: 14px;
  text-align: left;
  width: 100%;
  margin-right: 14px;
  display: flex;
  position: relative;
}

.biog .info_biog .habilid_info .habilid_02_1 p{
  color: rgb(32, 32, 32);
}

.biog .info_biog .habilid_info .habilid_02_1 .skill_04{
  width: 50%;
  border-top-left-radius: 14px;
  border-bottom-left-radius:14px ;
  border-top-right-radius: 14px;
  border-bottom-right-radius:14px ;
  background: #787cb4;
  position: relative;
  padding: 7px;
}
.biog .info_biog .habilid_info .habilid_02_1 .skill_05{
  width: 50%;
  border-top-left-radius: 14px;
  border-bottom-left-radius:14px ;
  border-top-right-radius: 14px;
  border-bottom-right-radius:14px ;
  background: #ffa518;
  position: relative;
  padding: 7px;
}

.biog .info_biog .habilid_info .habilid_03{
  background: #4885ff;
  border-radius: 14px;
  text-align: left;
  width: 55%;
  display: flex;
  position: relative;
  padding: 7px;
}

.biog .info_biog .habilid_info .habilid_04{
  background: #4885ff;
  border-radius: 14px;
  text-align: left;
  width: 40%;
  display: flex;
  position: relative;
  padding: 7px;
}

@media screen and (max-width: 440px) {
  .biog .habilid_info .habilid_static .habilid_posent{
    left: 75%;
  }
}

/* /habilidades*/

@media screen and (max-width: 820px) {
  .biog{
    padding: 10px;
  }

  .biog .biog_content{
    padding: 15px;
  }

  .biog h1{
    font-size: 25px;
    padding-left: 15px;
  }

  .biog p{
    text-align: left;
  }

  .biog img {
    display: block;
    width: 65%;
    max-width: 300px;
    margin: 30px auto;
    border-radius: 5px;
  }

  .biog .info_biog{
    display: block;
    padding: 0px;
    border-right: none;
  }

}

  @media screen and (max-width: 370px){
    .biog .info_biog .habilid_info .habilid_04{
      position: static;
    }
  }

  @media screen and (max-width: 300px){
    .biog .info_biog .habilid_info .habilid_03{
      position: static;
    }
  }


/*/Sobre mi*/

/* Portafolio */

.port{
  padding: 20px;
}

.port .port_content{
  padding: 30px;
  background: rgba(10, 10, 10, 0.10);
  border-radius: 10px;
}

.port h1{
  text-align: center;
  font-size: 27px;
  letter-spacing: 1px;

  display: inline-flex;
  border-left: 2px solid #03318C; 
  padding-left: 25px;
  padding: 10px;
}

.port h3{
  text-align: left;
  font-weight: 500;
  color: #418ACA;
  font-size: 21px;
  letter-spacing:0.9px;
}

.port .port_menu{
  background: #222121;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: -7px 7px 15px #000;
}

.port .link_port{
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s;
  background: #121c77;
  margin-top: 5px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px ;
  
  padding: 11px;
}

.port .link_port:hover{
  background: #0955ec;
}

.port .link_port:active{
  background: #222121;
}

/* Proyectos*/

.port .port_proyect{
  display: none;
  width: auto;
}

.port_proyect h2{
  margin: 20px;
  display: inline-flex;
  font-size: 33px;
  text-align: left;

  text-shadow: 0.06em 0 0 rgba(255, 0, 0, 0.75),
  -0.035em -0.06em 0 rgba(0, 255, 0, 0.75),
  0.035em 0.06em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.port_proyect .content_proyect{
  display: grid;
  grid-template-columns: 100%;
}

.content_proyect .proyect_prox{
  background: #0e0e0e;
  border-radius: 15px;
  box-shadow: -5px 5px 5px #000;
  max-width: 390px;
  max-height: 290px;
  padding: 15px;
  display: inline-block;

}

.content_proyect .proyect_prox h2{
  font-size: 20px;
  margin: auto;
}

.content_proyect .proyect_prox p{
  margin-top: 10px;
}

/* Proyectos*/

/*Demos*/

.port .port_demos{
  display: block;
  width: auto;
}

.port_demos h2{
  margin: 20px;
  display: inline-flex;
  font-size: 33px;
  text-align: left;

  text-shadow: 0.06em 0 0 rgba(255, 0, 0, 0.75),
  -0.035em -0.06em 0 rgba(0, 255, 0, 0.75),
  0.035em 0.06em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.port_demos .content_demos{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  box-sizing: border-box;
}

/* Post 1*/

.port_demos .demo_1{
  max-width: 390px;
  max-height: 290px;
  box-sizing: border-box;
  display: inline-flex ;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -5px 5px 5px #000;
}

.port_demos .demo_1:hover .back_demo_1{
  left: 0%;
}

.demo_1 .info_demo_1{
  background: #0e0e0e;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  position: relative;
}

.demo_1 .info_demo_1 h3{
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.demo_1 .info_demo_1 img{
  display: inline-flex;
  max-width: 170px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 10px;
}

.demo_1 .info_demo_1 p{
  text-align: center;
  margin: 10px;
}

.demo_1 .back_demo_1{
  background: #010314d7;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position:absolute;
  transition: all 0.5s;
  left: 100%;
  backdrop-filter: blur(2px);
}

.demo_1 .back_demo_1 h3{
  text-align: center;
}

.demo_1 .back_demo_1 p{
  text-align: center;
}

.demo_1 .back_demo_1 .buttom_port{
  display: block;
  align-content: center;
  text-align: center;
  margin-top: 15px;
}

.demo_1 .back_demo_1 a{
  text-decoration: none;
  background: #1f1f1fb0;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  margin: 10px;
}

.demo_1 .back_demo_1 a:hover{
  background: #1f1f1f00;
}

.demo_1 .back_demo_1 a i{
  margin-right: 5px ;
}

/* /Post 1*/

/* Post 2*/

.port_demos .demo_2{
  max-width: 390px;
  max-height: 290px;
  box-sizing: border-box;
  display: inline-flex ;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -5px 5px 5px #000;
}

.port_demos .demo_2:hover .back_demo_2{
  top: 0%;
}

.demo_2 .info_demo_2{
  background: #0e0e0e;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  position: relative;
}

.demo_2 .info_demo_2 h3{
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.demo_2 .info_demo_2 img{
  display: inline-flex;
  max-width: 170px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 10px;
}

.demo_2 .info_demo_2 p{
  text-align: center;
  margin: 10px;
}

.demo_2 .back_demo_2{
  background: #010314d7;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position:absolute;
  transition: all 0.5s;
  top: 100%;
  backdrop-filter: blur(2px);
}

.demo_2 .back_demo_2 h3{
  text-align: center;
}

.demo_2 .back_demo_2 p{
  text-align: center;
}

.demo_2 .back_demo_2 .buttom_port{
  display: block;
  align-content: center;
  text-align: center;
  margin-top: 15px;
}

.demo_2 .back_demo_2 a{
  text-decoration: none;
  background: #1f1f1fb0;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  margin: 10px;
}

.demo_2 .back_demo_2 a:hover{
  background: #1f1f1f00;
}

.demo_2 .back_demo_2 a i{
  margin-right: 5px ;
}

/* /Post 2*/

/* Post 3*/

.port_demos .demo_3{
  max-width: 390px;
  max-height: 290px;
  box-sizing: border-box;
  display: inline-flex ;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -5px 5px 5px #000;
}

.port_demos .demo_3:hover .back_demo_3{
  right: 0%;
}

.demo_3 .info_demo_3{
  background: #0e0e0e;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  position: relative;
}

.demo_3 .info_demo_3 h3{
  margin: auto;
  text-align: center;
  font-weight: 500;
}

.demo_3 .info_demo_3 img{
  display: inline-flex;
  max-width: 170px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 10px;
}

.demo_3 .info_demo_3 p{
  text-align: center;
  margin: 10px;
}

.demo_3 .back_demo_3{
  background: #010314d7;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position:absolute;
  transition: all 0.5s;
  right: 100%;
  backdrop-filter: blur(2px);
}

.demo_3 .back_demo_3 h3{
  text-align: center;
}

.demo_3 .back_demo_3 p{
  text-align: center;
}

.demo_3 .back_demo_3 .buttom_port{
  display: block;
  align-content: center;
  text-align: center;
  margin-top: 15px;
}

.demo_3 .back_demo_3 a{
  text-decoration: none;
  background: #1f1f1fb0;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 7px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  margin: 10px;
}

.demo_3 .back_demo_3 a:hover{
  background: #1f1f1f00;
}

.demo_3 .back_demo_3 a i{
  margin-right: 5px ;
}

/* /Post 3*/

/*Demos*/

@media (max-width: 1270px){

  .port_demos .content_demos{
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
  }

}

@media (max-width: 780px) {
  .port{
    padding: 10px;
  }
  
  .port .port_content{
    padding: 15px;
  }

  .port_demos .content_demos{
    grid-template-columns: 100%;
    grid-gap: 20px;
  }

  .content_demos p{
    font-size: 17px;
    margin: 0;
  }

  .content_demos img{
    width: 55%;
  }

}

@media (max-width: 410px){
  .content_demos p{
    font-size: 14px;
  }
  .content_demos h3{
    font-size: 17px;
  }

  @media (max-width: 280px){
    .content_demos p{
      font-size: 12px;
    }
    .content_demos h3{
      font-size: 15px;
    }
  }

}

/* /Portafolio */

/*Servicios*/

.ofert{
  padding: 20px;
  margin: auto;
}

.ofert .ofert_title{
  display: inline-flex;
}

.ofert h1{
  text-align: center;
  font-size: 31px;
  font-weight: 100;
  padding: 10px;
  align-self: center;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 15px #03318C;
}

.ofert hr{
  display: block;
  width: 3px;
  text-align: left;
  margin: 5px auto;
  height: 45px;
  background: #ffffff;
  box-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 15px #03318C;
  border: none;
  border-radius: 20px;

}

.ofert h3{
  color: #418ACA;
  font-weight: 300;
}

.ofert .ofert_info{
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

.ofert .post_list{
  overflow: hidden;
}

.ofert .back, .next{
  position: absolute;
  display: block;
  font-size: 60px;
  border: none;
  background: none;
  color: #ffff;
  text-shadow: 0 0 10px #03318C, 0 0 16px #03318C;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  transition: all 0.1s;
}

.ofert .back{
  left: -50px;
}

.ofert .next{
  right: -50px;
}

.ofert .next:hover{
  text-shadow: 0 0 10px #1648ac, 0 0 16px #1648ac;
}

.ofert .back:hover {
  text-shadow: 0 0 10px #1648ac, 0 0 16px #1648ac;
}

.ofert .next:active{
  text-shadow: none;
  color: gray;
}

.ofert .back:active{
  text-shadow: none;
  color: gray;
}

.ofert .item-ofert{
  padding: 15px;
  background: #131313;
  border-radius: 17px;
  border: 2px solid #ffffff;
  margin: 10px;
  text-align: center;
  box-sizing: content-box;
  transition: 1s;
  animation: neon_1 5s infinite;
}

.ofert .item-ofert i{
  font-size: 35px;
  margin: 20px;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 20px #03318C;
}

.ofert .item-ofert h2{
  font-size: 22px;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C, 0 0 20px #03318C;
  color: #f1f1f1;
  font-family: 'Text Me One', sans-serif;
}

 .ofert .item-ofert p{
  padding: 17px;
  color: #ffffff;
  font-size: 18px;
  text-shadow: 0 0 5px #03318C, 0 0 10px #03318C;
  font-family: 'Text Me One', sans-serif;
}

@keyframes neon_1{
  0%{ box-shadow: inset 0 0 8px #1b57d1, 0 0 10px #1b57d1; 
      border: 2px solid rgb(255, 255, 255);}
  50%{ box-shadow: inset 0 0 8px #1b57d1, 0 0 10px #1b57d1;
      border: 2px solid rgb(255, 255, 255); }

  55%{ box-shadow: inset 0 0 6px #0955ec, 0 0 7px #0955ec}  
  65%{ box-shadow: inset 0 0 6px #0955ec, 0 0 7px #0955ec; }

  81%{ box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.5); }
  83%{ box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.75); }

  90%{ box-shadow: inset 0 0 6px #1b57d1, 0 0 7px #1b57d1; }
  100%{ box-shadow: inset 0 0 6px #1b57d1, 0 0 7px #1b57d1; }

  }

  @media screen and (max-width: 430px){

    .ofert .item-ofert{
      padding: 5px;
    }

    .ofert .item-ofert i{
      font-size: 23px;
    }

    .ofert .item-ofert h2{
      font-size: 18px;
    }

    .ofert .item-ofert p{
      font-size: 15px;
    }

  }

/*/Servicios*/

/*Contacto*/

.contact{
  text-align: left;
  background-color: #1d1d1d;
  padding: 20px;
}

.contact_content{
  padding: 20px;
  background: rgba(10, 10, 10, 0.10);
  border-radius: 10px;
}

.contact .contact_content h1 {
  letter-spacing: 1px;
  font-size: 27px;
  color: #ffffff;
  border-left: 2px solid #03318C;
  display: flex;
  padding: 10px ;
}

.contact .contact_content h3{
  text-align: left;
  font-weight: 500;
  color: #418ACA;
  font-size: 21px;
  letter-spacing:0.9px;
}

.contact .post_contact{
  display: grid;
  grid-template-columns: 50% 50% ;
}

.contact .email_form{
  width: 70%;
  max-width: 390px;
  max-height: 457px;
  margin: 35px auto;
  margin-top: 0;
  font-size: 17px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  background: #ececec; 
}

.contact .email_form h4{
  background: rgb(34, 34, 34);
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  padding: 10px;
}

.contact .email_form input, textarea{
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  transition: 0.5s;
  font-size: 17px;
  background: #ececec; 
}

.contact .email_form input:focus{
  outline: none;
}

.contact .email_form textarea:focus{
  outline: none;
}

.contact .email_form hr{
  display: flex;
  background: #838383;
  width: 96%;
  margin: 0 auto;
}

.contact .email_form textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 250px;
  max-height: 250px;
}

.contact .email_form .submit_email{
  background: rgb(34, 34, 34);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact .email_form .submit_email #button_email{
  background-color: #355ae0;
  color: rgb(221, 221, 221);
  cursor: pointer;
  border: none;
  width: 65px;
  align-self: center;
  border-radius: 5px;
  display: inline-flex;
  font-size: 17px;
  margin: 10px;
  transition: 0.5s;
}

.contact .email_form #button_email:hover{
  background-color: #2142b9;

}

.contact .post_inicial{
  background: #0000002d;
  margin-bottom: 20px;
  box-shadow: 8px 8px 12px rgb(0, 0, 0, 0.7);
  border-radius: 5px;
}

.contact .post_inicial h2{
  font-size: 19px;
  color: #ffffff;
  padding: 10px;
  background: #214894;
}

.contact .post_inicial p{
  font-weight: 100;
  padding: 12px;
}

.contact .slider_content{
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.contact .slider_contact{
  display: flex;
  width: 400%;
  margin-left: -100%;
}

.contact .back_slider{
  position: absolute;
  top: 40%;
  transform: translate(-50%);
  transition: all 0.2s;
  left: 8%;
  border-radius: 100%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.contact .back_slider i{
  font-size: 23px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 9px;
}

.contact .next_slider{
  position: absolute; 
  top: 40%;
  transform: translate(-50%);
  transition: all 0.2s;
  right: 0px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.contact .next_slider i{
  font-size: 23px;
  padding: 1px;
  padding-left: 9px;
  padding-right: 6px;
}

.contact .back_slider:hover{
  background: rgba(255, 255, 255, 0.1);
  border:2px solid #6a79ff;
}

.contact .next_slider:hover{
  background: rgba(255, 255, 255, 0.1);
  border:2px solid #6a79ff;
}

.contact .post_slider{
  margin: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.315);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 35%;
  text-align: center;
}

.contact .post_slider i{
  font-size: 35px;
  margin: 15px;
}

.contact .post_slider h2{
  font-size: 22px;
  color: #418ACA;
  padding: 10px;
}

.contact .post_slider p{
  color: #cfcfcf;
  padding: 15px;
  padding-top: 0;
  font-size: 18px;
  margin-left: 45px;
  margin-right: 45px;
}

.contact .post_slider a i{
  color: #022d83;
  font-size: 35px;
  margin: 0;
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 8px;
}

@media (max-width: 750px) {
  .contact{
    padding: 10px;
  }
  
  .contact .post_inicial p{
    font-size: 17px;
  }

  .contact .post_contact{
  display: block;
  }

  .contact .email_form{
    width:100%;
  }

  .contact .back_slider{
    left: 10%;
  }

  .contact .post_slider{
    padding: 5px;
  }

  .contact .post_slider i{
    font-size: 30px;
    margin: 0;
    margin: 10px;
  }

  .contact .post_slider h2{
    font-size: 16px;
  }

  .contact .post_slider p{
    font-size: 14px;
  }

}

/*/Contacto*/

/*foot*/

.foot{
  background: rgb(17, 17, 17);
  color: white;
  display: block;
  width: 100%;
}

.foot .foot-limit{
  margin: 0 auto;
  width: 96%;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);
  border: none;
}
  
.foot .foot-content{
  padding: 10px;
  display: inline-flex;
}

.foot .foot-social{
  text-align: left;
  display: inline-flex;
}

.foot .social_a{
  text-decoration: none;
}

.foot #social_link_1, #social_link_2, #social_link_3{
  color: rgba(50, 50, 50, 0.9) ;
  font-size: 35px;
  margin: 0px;
  letter-spacing: 20px;
}

.foot #social_link_1 i, #social_link_2 i, #social_link_3 i{
  transition: all 0.4s;
}

.foot #social_link_1 i:hover{
  color: #3b5998;
  transform:scale(1.15, 1.15);
}

.foot #social_link_2 i:hover{
  color: #4dc247;
  transform:scale(1.15, 1.15);
}

.foot #social_link_3 i:hover{
  color: #ef3a25;
  cursor: pointer;
  transform:scale(1.15, 1.15);
}

.foot .copy{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: right;
  align-self: center;
  color: rgb(170, 170, 170);
  display: inline-flex;
  position: absolute;
  left: 78%;
}

@media screen and (max-width: 1024px) {

.foot .foot-content{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }
  
.foot .foot-social{
  margin: auto;
}

.foot #social-link_1, #social-link_2, #social-link_3, #social-link_4{
  margin-left: 0;
  letter-spacing: 10px;
}

.foot .copy {
      text-align: center;
      position: relative;
      left: 0%;
      margin: auto;
    }
  }

/*/foot*/